{% include 'partials/header.njk' %}
<form method="POST">
  <input type="text" name="email" placeholder="E-mail">
  <br><br>
  <input type="password" name="password" placeholder="Senha">
  <br><br>
  <input type="submit" value="Entrar">
</form>